.back {
  margin-right: -60px;
}
.search {
  direction: ltr;

}
.button{
  font-size: 10px;
  background-color: #6666FF !important;
}

.input{
  font-size: 13px !important;
  background-color: #ebebfd !important;
}
