@font-face {
  font-family: "iran-sans";
  src: url("./assets/IRANSans.ttf");
}
* {
  direction: rtl;
}
body {
  font-family: "iran-sans" !important;
}
.sidebarPanel{
  background: rgb(164, 89, 235) !important;
  border-radius: 5px;
}
